.reveal .slides section ul {
	margin-left : 50px;
	font-size: 0.9em;
}

code {
	background-color: #eee;
    border-radius: 10px;
    padding: 5px;
    color: #c7254e;
    font-weight: normal;
    font-family: Consolas;
    font-size: 0.95em;
}

pre code {
	border-radius : initial;
	padding: initial;
	color: initial;
	
}